{% extends './base.html' %}
{% block content %}

  <!-- Modal HTML -->
<div id="confirmForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmForm" aria-hidden="true" >
  <div class="modal-dialog modal-confirm">
  	    <div class="modal-header">
		  <h5 class="modal-title text-center" id="forgetPass">Reset Password</h5>
		  <a herf="/polls/login/" id="loader_model"><button type="button" class="close model_loder" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button></a>
		</div>
    <div class="modal-content">
      <div class="modal-body">
	    	<form id="reset_pass_form" accept-charset="UTF-8" role="form" action="/polls/reset_password_confirm/" method="post">
              {% csrf_token %}
				<fieldset>
				<div class="form-group">
					<input id="id_username" maxlength="150" name="username" placeholder= "{{username}}" value="{{username}}" type="text" required="" class="form-control" readonly="">
				</div>
				
				<div class="form-group">
					<input id="reset_id_password" maxlength="128" name="password" type="password" required="" placeholder="password" class="form-control">
					   <span style="color:red" class="help">* Required field (atlease 8 digits)</span>
				</div>

				<div class="form-group">
					<input id="reset_id_password_confirm" maxlength="128" name="confirm_password" type="password" required="" placeholder="confirm password" class="form-control">
					   <span style="color:red" class="help">* Should Match Password field</span>
				</div>
	    	</fieldset>
	      	</form>
	  </div>
      <div class="modal-footer">
  		<button form="reset_pass_form" type="submit"  class="btn btn-lg btn-primary btn-block" >Confirm</button>
		</div>
    </div>
  </div>
</div>
<!-- SCRIPT  -->
<script type="text/javascript">
	// A $( document ).ready() block.
$( document ).ready(function() {
    console.log( "ready!" );
    $("#confirmForm").modal('show')

    $( "#reset_pass_form" ).submit(function( event ) {
   if ( $("#reset_id_password").val().length < 8) {
    	$( "#reset_id_password" ).next().text( "Password entered less than 8" ).show();
   
  }else if($("#reset_id_password").val() != $("#reset_id_password_confirm").val()){
  	$( "#reset_id_password_confirm" ).next().text( "Not matched with password field" ).show();
  }else{
  	return 
  }
   event.preventDefault();
   return;
})
});
</script>
{% endblock %}